{% extends 'base.html' %}

{% block titulo %}
Contactenos
{% endblock %}


{% block contenido_a_cambiar %}


<H1><center><u>Contáctenos</u></center></H1>
<br>
<br>
<h5><center>Nuestra empresa ofrece servicios unica y exclusivamente de manera online y es por eso que parte de nuestra 
    cultura y deber es poder brindarle al cliente la mayor facilidad a la hora de no solo elegir su pedido sino 
    ademas obtener un servicio claro y efectivo. Para lograr una mayora eficiencia tenemos a disposición los 
    diferentes canales de atención, facebook, whatsapp, telefono, a traves de nuestra página de instagram o via mail. 
    El canal elegido por excelencia es a traves de nuestra App, donde podras registrarte y con solo un click 
    tendras toda las novedades al instante.</center></h5>
<br>

    <center>
        <div class="social"> 
        <a href="#"><img src="https://i.pinimg.com/736x/f6/6d/49/f66d49097e18978ddf46282c233040a9.jpg" width="60" height="60"/></a>
    </div>
        <div>
            <p>
            facebook/papasdrinks.delivery
            </p>
        </div>
        <a href="#"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/whatsapp-design-template-a62f0bf703ae0061d9754c93653c510a_screen.jpg?ts=1585224864" width="100" height="100"/></a>
        </div>
            <div>
            <p>
            WA:(+54)11-65386978
            </p>
        </div>
        <a href="#"><img src="https://thumbs.dreamstime.com/b/icono-de-receptor-tel%C3%A9fono-redondeado-s%C3%ADmbolo-contacto-para-dise%C3%B1os-ui-web-y-m%C3%B3vil-216203282.jpg" width="100" height="100"/></a>
        <div>
            <p>
            (+54)4563-8567 / 8563-8965
            </p>
            </div>
        <a href="#"> <img src="https://img.europapress.es/fotoweb/fotonoticia_20160511161955_420.jpg" width="80" height="75"/></a>
        <div>
            <p>
            papasdrinks_delivery
            </p>
            </div>
        <a href="#"> <img src="https://static.vecteezy.com/system/resources/previews/000/547/340/original/envelope-mail-icon-vector-illustration.jpg" width="80" height="80"/></a>
        <div>
            <p>
            papasdrinks.servicios.delivery@yahoo.com.ar
            </p>
            </div>
    </div></center>
    
{% endblock %}


